/*------------------------
 common style start
 -------------------------*/
/* goggle font style */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 1248px;
    margin: 0 auto;
    background-color: #faf9f9;
}

.btn{
    padding: 0.8rem 1rem;
    background-color: #E02C6D;
    font-size: 1.1rem;
    border: none;
    color: #ffff;
}

.btn-primary{
    border-radius: 30px;
}

.icon{
    color: #e7e1e1;
    font-size: 1rem;
}

.star{
    color: #ffd35a;
    font-size: 1rem;
}

.section-header{
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem 0;
}

.icn-red{
    color: #E02C6D;
}
/*----------------------------
 common style end 
 ----------------------------*/


/* ---------Navigation start ------------ */
.navigation{
    height: 10vh;
    padding-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e3f0fc;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.nav-list{
    list-style: none;
}

.nav-list-item{
    text-decoration: none;
    font-size: 1.2rem;
}
/* ---------Navigation end ------------ */


/* ----------header start-------------- */

.header-container{
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 90vh;
    padding-left: 0.8rem;
}

.header-info{
    width: 50%;
    max-height: 100%;
}

.header-title{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.header-description{
    margin-bottom: 1rem;
}
.header-banner{
    width: 50%;
    padding-bottom: 1rem;
    text-align: center;
}

.header-banner img{
    max-width: 70%;
}

.header-banner{
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 50% 0%;
}
/* ----------header end-------------- */

/*----------------------------- 
    main section start
----------------------------- */
.main{
    max-width: 1125px;
    margin: 0 auto;
}

/* band start */
.brad-container img{
    margin: 0 0.8rem;
}

.brands{
    margin: 1rem;
    background-color: linear-gradient(90deg, #c0ccda1a 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
    border-top: 1px solid #e2e1e1;
    border-bottom: 1px solid #e4e1e1;

}

.brad-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 1rem 0rem;
}
/* band end */

/* ================ popular collection start============= */

.popular-collection{
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.collections-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.collection{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 5.34229px 13.3557px rgba(146, 146, 146, 0.219);
}

.collection-thumbnail{
    width: 100%;
}
.collection-thumbnail  img{
    width: 100%;
}
.collection-info{
    width: 60%;
}
.see-more{
    color: #E02C6D;
    text-align: right;
    margin: 1rem 0;
}
/* ================ popular collection end============= */


/* ---feacher product start------ */

.feacher-product-container{
    display: flex;
    gap: 3rem;
    margin: 3rem 1rem;
}
.feacher-banner{
    width: 40%;
}
.feacher-banner img{
    width: 100%;
}
.feacher-info{
    width: 60%;
}
.feacher-product-title{
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 1rem;
}
.feacher-product-description{
    font-size: 1.1rem;
    font-weight: 400;
    color: #525252;
    margin: 1rem 0;
}
/* ---feacher product end------ */


/*----------------------------- 
    main section end
----------------------------- */


/* ----------------- footer start ---------------- */

.footer{
    max-width: 1248px;
    margin: 0 auto;
    background-color: black;
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    width: 40%;
    margin: 0 auto;
}
.footer-title{
    font-size: 1.5rem;
}
.footer-container > * {
    color: white;
}

.footer-icons > *  {
    margin: 0.2rem;
    padding: 1rem;
    background-color: #131127;
    border-radius: 50%;
    font-size: 1.3rem;
    color: white;
}

/* ----------------- footer end ---------------- */




/* -----------------------------
    Responsive Design start
------------------------------- */

@media screen and ( max-width: 576px ) {

    .btn{
        font-size: 0.8rem;
    }

    /* navigation start */
    .navigation{
        padding-left: 0.2rem;
        flex-direction: column;
        justify-content: center;
    }
    .nav-title{
        font-size: 1.1rem;
    }
    .navbar{
        width: 100%;
        justify-content: space-evenly;
    }
    .nav-list-item{ 
        font-size: 0.8rem;
    }
    /* navigation end */

    /* header start */
    .header-container{
        flex-direction: column-reverse;
        gap: 0rem;
        height: auto;
    }
    .header-info{
        width: 100%;
        height: 100%;
        padding: 1rem;
        text-align: center;
    }
    .header-title{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .header-banner{
        width: 100%;
        margin-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
    }
    .header-banner img{
        max-width: 65%;
    }
    .header-banner{
        background-size: 65%;
        background-position: 50% 20%;
    }
    /* header end */

    /* brand start */
    .brands{
        border: none;
    }
    /* brand end */

    /* popular collection start */
    .collections-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
    }
    /* popular collection end */

    /* feacher product start */
    .feacher-product-container{
        flex-direction: column-reverse;
        text-align: center;
        gap: 1rem;
    }
    .feacher-banner{
        width: 100%;
    }
    .feacher-info{
        width: 100%;
    }
    /* feacher product end */

    /* footer start */
    .footer-container{
        width: 100%;
    }
    /* footer end */

}


@media screen and (min-width: 577px) and (max-width: 992px) {

    .btn{
        font-size: 1rem;
    }

    /* navigation start */
    .nav-title{
        font-size: 1.2rem;
    }
    .navbar{
        width: 60%;
        justify-content: space-evenly;
    }
    .nav-list-item{ 
        font-size: 1rem;
    }
    /* navigation end */


    /* header start */
    .header-container{
        flex-direction: column-reverse;
        gap: 1rem;
        height: auto;
    }

    .header-info{
        width: 100%;
        height: 100%;
        padding: 1rem;
        text-align: center;
    }
    .header-title{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .header-description{
        font-size: 1.5rem;
    }

    .header-banner{
        width: 90%;
        margin-top: 2rem;
        padding-bottom: 2rem;
    }
    .header-banner img{
        max-width: 55%;
    }
    .header-banner{
        background-size: 52%;
        background-position: 50% 20%;
    }
    /* header end */

    /* popular collection start */
    .collections-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
    /* popular collection end */

    /* feacher product start */
    .feacher-banner img{
        margin-top: 1.5rem;
    }
    .feacher-product-title{
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }
    .feacher-product-description{
        font-size: 0.9rem;
        margin: 0.5rem 0;
    }
    /* feacher product end */

    /* footer start */
    .footer-container{
        width: 50%;
    }
    /* footer end */

}

/* -----------------------------
    Responsive Design end
------------------------------- */